<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <a class="mdc-top-app-bar__title mdc-theme--secondary" href="/">Web GDE Social</a>
    </section>
  </div>
</header>

<aside class="mdc-drawer mdc-typography">
  <nav class="mdc-drawer__drawer">
    <header class="mdc-drawer__header">
      <div class="mdc-drawer__header-content">
        Filters
      </div>
    </header>
    <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
      <a class="mdc-list-item {{mdcActivatedClass routeName 'index'}}" href="/">All tweets</a>
      <a class="mdc-list-item {{mdcActivatedClass routeName 'links'}}" href="/links">With links</a>
      <hr class="mdc-list-divider">
      {{#each hashtags}}
        <a class="mdc-list-item {{mdcActivatedClass ../routeName this}}" href="/hashtag/{{this}}">#{{this}}</a>
      {{/each}}
    </nav>
  </nav>
</aside>

<div id="container">
  <main class="mdc-top-app-bar--fixed-adjust">
    <p id="intro">GDE Social is a collection of <a href="https://twitter.com/robertnyman/lists/web-gdes/" class="mdc-theme--primary">recent tweets</a> from <a href="https://developers.google.com/experts/all/technology/web-technologies" class="mdc-theme--primary">Web Technology</a> <a href="https://developers.google.com/experts" class="mdc-theme--primary">Google Developer Experts</a>.</p>

    {{#if statuses}}
      <div id="statuses">
        {{#each statuses}}
          <twitter-status status='{{data}}' data-created-at={{createdAt}}></twitter-status>
        {{/each}}
      </div>

      <button id="load-more"
              class="mdc-button mdc-button--outlined"
              data-newest-created-at="{{newestCreatedAt}}"
              data-oldest-created-at="{{oldestCreatedAt}}"
              data-route="{{routeName}}"
              disabled>Load more</button>
    {{else}}
      <div id="statuses">
        <strong>No tweets found</strong>
      </div>
    {{/if}}

  </main>

  <footer>
    <content>
      <p><a href="https://github.com/abraham/gde-social" class="mdc-theme--primary">Built</a> by <a href="https://abrah.am" class="mdc-theme--primary">Abraham Williams</a> with the <a href="https://developer.twitter.com/" class="mdc-theme--primary">Twitter API</a>, <a href="https://www.npmjs.com/package/twitter-status" class="mdc-theme--primary">twitter-status web component</a>, <a href="https://material.io/develop/web/" class="mdc-theme--primary">MDC Web</a>, and <a href="https://firebase.google.com/" class="mdc-theme--primary">Firebase</a>.</p>
    </content>
  </footer>
</div>
